<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Rejestracja użytkownika w systemie SEO App v. 0.1</title>-->
<!--</head>-->
<!--<body>-->
<!--    <a href="/">Home</a>-->
<!--    <a href="{{url_for('login')}}">Logowanie</a>-->
<!--    <a href="{{url_for('register')}}">Rejestracja</a>-->
<!--  <h1> Rejestracja użytkownika w systemie SEO App v. 0.1</h1>-->
<!--    <a href="{{url_for('login')}}">Masz już konto? Zaloguj się</a>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Python Flask Bucket List App</title>
    <link href="{{ url_for('static', filename='css/bootstrap.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/jumbotron-narrow.css')}}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/">Home</a>
                    </li>
                    <li role="presentation"><a href="/login">Logowanie</a>
                    </li>
                    <li role="presentation" class="active"><a href="/register">Rejestracja</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">SEO App v. 0.1</h3>
        </div>
        <div class="jumbotron">
            <h1>SEO App v. 0.1</h1>
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                {{ form.username }}
                {{ form.password }}
                {{ form.submit }}
            </form>
        </div>
        <footer class="footer">
            <p>Seowców2 &copy; Company 2023</p>
        </footer>
    </div>
</body>
</html>